/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap'); */

body > section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1000px;
}

h2 {
  font-size: 2.2rem;
  margin: 0 0 40px;
}

p {
  line-height: 1.5;
  margin: 0 0 20px;
}

.hello {
  display: grid;
  grid-template-columns: 360px auto;
  grid-column-gap: 110px;

  img {
    border-radius: 8px;
    height: auto;
    width: 360px;
  }

  h1 {
    font-weight: normal;
    font-size: 46px;
    margin: 0 0 10px;
  }

  p {
    font-size: 1.2rem;
  }
}

.projects {
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-column-gap: 3rem;
    margin: 0;
    padding: 0;
  }

  li {
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: center;
    list-style: none;
    margin-bottom: 3rem;
  }

  a {
    align-self: stretch;
    background-color: var(--color-text);
    border-radius: 4px;
    color: var(--color-background);
    display: block;
    padding: 20px;
    text-decoration: none;
    transition: 0.25s;
    width: 100%;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  .your-project {
    border: 1px dashed var(--color-text);
    border-radius: 4px;
    font-size: 1.8rem;
  }
}

.social {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 20px;

  a {
    border-radius: 100%;
    display: inline-flex;
    height: 36px;
    margin-left: 20px;
    width: 36px;
  }

  svg {
    fill: var(--color-text);
    opacity: 0.6;
    transition: 0.25s;
  }

  a:hover svg,
  a:focus svg {
    opacity: 1;
    transform: scale(1.2);
  }
}

@media (max-width: 1000px) {
  body {
    padding: 10% 30px 30px;
  }

  .hello {
    grid-template-columns: auto;
    grid-column-gap: 30px;

    img {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}
